parameters:
	ignoreErrors:
		-
			message: "#^Offset 'controller' on array\\{height\\: int, title\\: string, zoom\\: int, controller\\: string, apiKey\\: string, attr\\: array\\<string, mixed\\>\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Twig/MapsExtensions.php

		-
			message: "#^Offset 'controller' on array\\{height\\: int, title\\: string, zoom\\: int, controller\\: string, attr\\: array\\<string, mixed\\>\\} on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: src/Twig/MapsExtensions.php

		-
			message: "#^Method Nucleos\\\\MapsBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$container with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\MapsBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureContainer\\(\\) has parameter \\$loader with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Method Nucleos\\\\MapsBundle\\\\Tests\\\\App\\\\AppKernel\\:\\:configureRoutes\\(\\) has parameter \\$routes with no type specified\\.$#"
			count: 1
			path: tests/App/AppKernel.php

