parameters:
	ignoreErrors:
		-
			message: "#^Method Nucleos\\\\MapsBundle\\\\Block\\\\Service\\\\MapBlockService\\:\\:fetchFromAddress\\(\\) should return array\\(float, float\\)\\|null but returns array\\.$#"
			count: 1
			path: src/Block/Service/MapBlockService.php

